section.container
  article.article.article--odd
    .article__desc
      h2(class="article__title", data-number="02") Point Break
      .article__text
        p By better understanding the various aspects of surfing, By better understanding the various aspects of surfing, you will improve faster and have more fun in the water.
      a(href="#", class="read-more-link") Read More
    .article__preview
      img(src="img/img/img-5.jpg", alt="Surf Training")
      .article__preview-desc
        .article__preview-desc-content Surf&nbsp;Camps