section.camp
  div(class="camp__img", style="background-image: url('./img/img/img-6.jpg');")
  .container.flex-end
    .camp__desc
      .camp__label Our Camp
      .camp__address
        span CA 91932, USA 
        br
        span Imperial Beach
        br
        span 560 Silver Strand Blvd
      a(href="#", class="read-more-link") Get In Touch