.slide-wrapper
  <!-- slides -->
  .slide-item
    .slide-item__desc
      h2.slide-item__heading
        span Your
        span Beautiful Escape
      .slide-item__text
        p One of the greatest things about the sport of surfing is that you need only three things: your body, a surfboard, and a wave. 
    .slide-item__img.slide-item__img--bg-1
  <!-- slides controls -->
  .slide-controls
    a(class="slide-controls__left" href="#")
      img(src="img/controls/header-slider-left.svg", alt="Left")
    .slide-controls-number
      span.slide-controls-number__active 1
      span.slide-controls-number__from /
      span.slide-controls-number__total 5
    a(class="slide-controls__right" href="#")  
      img(src="img/controls/header-slider-right.svg", alt="Right")