.header-social
  - let socials = ['img/socials/social-tumblr.svg', 'img/socials/social-twitter.svg', 'img/socials/social-vimeo.svg']
  - let socialName = ['Thumbler', 'Twitter', 'Vimeo']
  each icon, index in socials  
    a(href="#" class="header-social__item")
      img(src=icon alt=socialName[index])