- let menu = ['Stories', 'Events', 'Places', 'Boards']
nav.container.navigation-wrapper.relative
  .nav-logo-wrapper
    a(href="#!")
      img(width="16" src="img/logo/logo.svg", alt="logo")
  ul.navigation
    each link in menu
      li.navigation__item
        a(class="navigation__link" href="#!")=link
  .site-desc 
    .site-desc__content First&nbsp;Surfing&nbsp;Magazine