section.shop
  .container
    h2.title
      span.subtitle Shop
      span Surfboards
  .container.shop-slider-wrapper
    .shop-slider-special-holder
      div(id="shopSlider", class="owl-carousel")
        include shop-slider-items
  .container
    .shop-slider-controls
      div(id="shopSliderLeft", class="shop-slider-arrow shop-slider-arrow--left")
        img(src="img/controls/boards-left.svg", alt="Prev")
      div(id="shopSliderRight", class="shop-slider-arrow shop-slider-arrow--right")
        img(src="img/controls/boards-right.svg", alt="Next")
  .container
    .shop-link-wrapper
      a(href="#", class="read-more-link") Show All