- let socials = ['img/socials/social-tumblr.svg', 'img/socials/social-twitter.svg', 'img/socials/social-vimeo.svg']
- let socialName = ['Thumbler', 'Twitter', 'Vimeo']
.header-social-wrapper
  .social.social--vertical
    each icon, index in socials  
      a(href="#" class="social__item")
        img(src=icon alt=socialName[index])