section.subscribe-wrapper
  .subscribe
    h2.title Join the Club
    .title-desc By better understanding the various aspects of surfing, you will improve faster and have more fun in the water
    form(action="#", class="subscribe-form")
      input(type="text", placeholder="Your E-mail", class="subscribe__form-input")
      input(type="submit", class="subscribe__form-submit")