<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Surfing Club
    link(rel="stylesheet", href="css/main.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fira+Sans|Playfair+Display:400,700|Poppins:300&amp;subset=cyrillic-ext")
  body
    .container
      include blocks/navigation
      include blocks/slide-item