<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Surfing Club
    link(rel="stylesheet", href="css/main.min.css")
  body
    include blocks/header
    include blocks/quote
    include blocks/club-description
    include blocks/shop
    include blocks/article-01
    include blocks/article-02
    include blocks/subscribe
    include blocks/camp